.colorPrincipal{
    background-color:rgb(53, 24, 241);
}
.btn-primary{
    background-color: rgb(53, 24, 241) !important;
    border-color: rgb(53, 24, 241) !important;
}
.btn-primary:hover{
    background-color: rgb(53, 24, 241) !important;
    border-color: rgb(53, 24, 241) !important;
}

.fondo{
    background-image: url("./Img/fondo.jpg");
    background-position: top center;
    background-size: cover;
    padding: 25%;
    background-attachment: fixed;
}
.fondo2{
    background-image: url("./Img/fondo2.jpg");
    background-position: top center;
    background-size: cover;
    padding: 25%;
    background-attachment: fixed;
}